textarea {
  height: 1em;
}

.container img, label {
  cursor: pointer;
}

input[type="number"] {
  width: 3em;
}
.pull-right table {
  margin-left: auto;
}
.pull-right th {
  text-align: left;
}

.container img {
  width: 223px;
  height: 310px;
}

.self {
  background-color: rgba(0, 255, 0, .3);
}

.self td:nth-of-type(2) {
  cursor: pointer;
  color: blue;
}

.opponent td:nth-of-type(2) {
  color: red;
}

.opponent::after {
  content: '<-- opponent';
}

.container {
  border: 1px solid black;
}

.error {
  color: red;
}

.pull-right {
  text-align: right;
  float: right;
}

.dropped::after {
  content: '<-- dropped';
}

#chat {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
}
#messages {
  height: 300px;
  overflow: auto;
}
#chat input {
  width: 100%;
  padding: 0;
  border-left: 0;
  border-right: 0;
}
