@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  src: local('Crimson Text'), local('CrimsonText-Roman'), url(/media/CrimsonText.woff) format('woff');
}
body{
  background-image: url(/media/bg.jpg);
  font-family: 'Crimson Text', serif;
}
h1{
  text-transform: capitalize;
  background-image: url(/media/h1bg.png);
  background-repeat: no-repeat;
  margin-left: 10px;
  padding: 10px 20px;
  height: 44px;
}
.container img, label {
  cursor: pointer;
}

input[type="number"] {
  width: 3em;
}
.pull-right table {
  margin-left: auto;
}
.pull-right th {
  text-align: left;
}

.container img {
  width: 223px;
  height: 310px;
  border: 1px solid black;
  border-radius: 15px;
  margin: 4px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
}

.self {
  background-color: rgba(0, 255, 0, .3);
}

.self td:nth-of-type(2) {
  cursor: pointer;
  color: blue;
}

.opponent td:nth-of-type(2) {
  color: red;
}

.opponent::after {
  content: '<-- opponent';
}

.container {
  border: 1px solid black;
}

.error {
  color: red;
}

.pull-right {
  text-align: right;
  float: right;
  background-image: url(http://i.imgur.com/2EAq822.png);
  background-position: left bottom;
  box-shadow: 5px 5px 4px rgba(0,0,0,0.2);
  padding: 6px;
}

.dropped::after {
  content: '<-- dropped';
}

#chat {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
}
#messages {
  height: 300px;
  overflow: auto;
}
#chat input {
  width: 100%;
  padding: 0;
  border-left: 0;
  border-right: 0;
}
