img, label {
  cursor: pointer;
}

.self {
  background-color: rgba(0, 255, 0, .3);
}

.opponent::after {
  content: '<-- opponent';
}

.container {
  border: 1px solid black;
}

.error {
  color: red;
}

.pull-right {
  text-align: right;
  float: right;
}

.disconnected::after {
  content: '<-- disconnected';
}

.dropped::after {
  content: '<-- dropped';
}
