<!doctype html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <title>q</title>
  <link rel="stylesheet" href="vendor/normalize.css">
  <link rel="stylesheet" href="css/q.css">
  <script src="vendor/angular.js"></script>
  <script src="js/q.js"></script>
</head>
<body ng-controller="Ctrl" ng-cloak>
  <div>
    <label>beep<input type="checkbox" ng-model="beep"></label>
    <audio src="/media/beep.wav"></audio>
  </div>
  <table>
    <tr><th>name</th><th>time</th><th>packs</th></tr>
    <tr ng-repeat="player in players" ng-class="player.class">
      <td ng-switch on="player.edit">
        <form ng-submit="name(player.name)" ng-switch-when="true"><input type="text" placeholder="username" autofocus ng-model="player.name"></form>
        <span ng-switch-default>{{ player.name }}</span>
      </td>
      <td>{{ player.time }}</td><td>{{ player.packs }}</td>
    </tr>
  </table>
  <form method="post" action="/deck" ng-show="end">
    <textarea name="deck" hidden>{{ deck }}</textarea>
    <button ng-click="download()">download</button>
  </form>
  <div class="container">
    <h1>pack</h1>
    <div ng-show="pack.show">
      <img ng-repeat="card in pack.cards" ng-src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{ card.id }}&type=card"
        ng-click="pick(card)"
        >
    </div>
  </div>
  <div class="container">
    <h1>main</h1>
    <img ng-repeat="card in main" ng-src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{ card.id }}&type=card"
      ng-click="toSide(card)"
      >
  </div>
  <div class="container">
    <h1>side</h1>
    <img ng-repeat="card in side" ng-src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{ card.id }}&type=card"
      ng-click="toMain(card)"
      >
  </div>
</body>
</html>
