footer {
  position: fixed;
  bottom: 0;
}

label {
  cursor: pointer;
}

textarea {
  height: 1em;
  vertical-align: top;
}

time {
  color: #999;
}

.icon {
  font-size: 32px;
  margin: 16px;
}

.chat {
  margin-right: 351px;
}

.name {
  color: #393;
}

.colorless  { background-color: rgba(  0,   0,   0, .1); }
.red        { background-color: rgba(255,   0,   0, .1); }
.green      { background-color: rgba(  0, 255,   0, .1); }
.blue       { background-color: rgba(  0,   0, 255, .1); }
.multicolor { background-color: rgba(255, 255,   0, .1); }
.black {
  background-color: black;
  color: white;
}

.col {
  float: left;
  width: 180px;
  overflow: hidden;
  white-space: nowrap;
}

.error {
  color: red;
}

.zone {
  border-top: 1px solid black;
  clear: both;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.zone img, #img {
  height: 340px;
  width: 240px;
  cursor: pointer;
}

.zone .col div img {
  height: 255px;
  width: 180px;
  margin-bottom: -233px;
}

.zone .col div:last-child img {
  margin-bottom: 0;
}

.self {
  background-color: rgba(0, 255, 0, .1);
}
.opp {
  background-color: rgba(255, 0, 0, .1);
}

#img {
  position: fixed;
  bottom: 0;
}
#img.left {
  left: 0;
}
#img.right {
  right: 0;
}

#players th, #players td {
  padding-right: .5em;
}

#settings {
  float: right;
  text-align: right;
}

#settings table {
  margin-left: auto;
}

#settings table input {
  width: 3em;
}

#settings tr:first-of-type {
  text-align: left;
}

#settings img {
  height: 32px;
  width:  32px;
}

#chat {
  border-left: 1px solid black;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 350px;

  display: flex;
  flex-direction: column;
}

#chat[hidden] {
  /* flexbox breaks the hidden attribute? */
  display: none;
}

#messages {
  overflow: auto;
  flex-grow: 1;
}

#chat input {
  flex-shrink: 0
}
