footer {
  position: fixed;
  bottom: 0;
}

label {
  cursor: pointer;
}

textarea {
  height: 1em;
  vertical-align: top;
}

time {
  color: #999;
}

.icon {
  font-size: 32px;
  margin: 16px;
}

.chat {
  margin-right: 351px;
}

.name {
  color: #393;
}

.colorless  { background-color: rgba(  0,   0,   0, .1); }
.red        { background-color: rgba(255,   0,   0, .1); }
.green      { background-color: rgba(  0, 255,   0, .1); }
.blue       { background-color: rgba(  0,   0, 255, .1); }
.multicolor { background-color: rgba(255, 255,   0, .1); }
.black {
  background-color: black;
  color: white;
}

.card {
  display: inline-block;
  position: relative;
  margin: 0;
  cursor: pointer;
}

.card:hover:before, .autopick-card:before {
  content: '';

  display: block;
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin-bottom: 5px;
  border-radius: 12px;

  background: rgba(200, 200, 200, 0.25);
}

.autopick-card:after {
  content: 'Autopick';

  display: inline-block;
  position: absolute;

  /* Center in the middle of the bottom border on the card. */
  line-height: 25px;
  bottom: 5px;
  left: 0;
  right: 0;

  color: #fff;
  font-family: Verdana, Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  text-shadow: 0px 0px 2px #000;
}

.error {
  color: red;
}

.zone {
  border-top: 1px solid black;
  clear: both;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.zone img, #img {
  height: 340px;
  width: 240px;
  cursor: pointer;
}

.col {
  float: left;
  width: 180px;
}

.col img {
  height: 255px;
  width: 180px;
  margin-bottom: -235px;
}

.col div:last-child img {
  margin-bottom: 0;
}

.self {
  background-color: rgba(0, 255, 0, .1);
}
.opp {
  background-color: rgba(255, 0, 0, .1);
}

.icon-connected, .icon-disconnected, .icon-bot {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  border-style: solid 1px #000;
}

.icon-connected {
  background-color: #3c3;
}

.icon-disconnected {
  background-color: #333;
}

.icon-bot {
  background-color: rgba(0, 0, 0, 0.25);
}

.ready {
  text-align: center;
}

#img {
  position: fixed;
  bottom: 0;
}
#img.left {
  left: 0;
}
#img.right {
  right: 0;
}

#players th, #players td {
  padding-right: .5em;
}

#settings {
  float: right;
  text-align: right;
}

#settings table {
  margin-left: auto;
}

#settings table input {
  width: 3em;
}

#settings tr:first-of-type {
  text-align: left;
}

#settings img {
  height: 32px;
  width:  32px;
}

#chat {
  border-left: 1px solid black;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 350px;

  display: flex;
  flex-direction: column;
}

#chat[hidden] {
  /* flexbox breaks the hidden attribute? */
  display: none;
}

#messages {
  overflow: auto;
  flex-grow: 1;
}

#chat input {
  flex-shrink: 0
}
