<a href="https://github.com/aeosynth/draft"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
<h1>drafts.in</h1>
<button autofocus ng-click="create()">create</button>
<select ng-model="size">
  <option>8</option>
  <option>7</option>
  <option>6</option>
  <option>5</option>
  <option>4</option>
  <option>3</option>
  <option>2</option>
  <option>1</option>
</select> player
<select ng-model="type">
  <option>draft</option>
  <option>sealed</option>
  <option>cube</option>
</select> with
<select ng-model="bots">
  <option>0</option>
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
  <option>6</option>
  <option>7</option>
</select> bots
<div>
  <select ng-disabled="type == 'cube'" ng-model="set1" ng-options="set for set in sets"></select>
  <select ng-disabled="type == 'cube'" ng-model="set2" ng-options="set for set in sets"></select>
  <select ng-disabled="type == 'cube'" ng-model="set3" ng-options="set for set in sets"></select>
</div>
<div>
  <select ng-disabled="type != 'sealed'" ng-model="set4" ng-options="set for set in sets"></select>
  <select ng-disabled="type != 'sealed'" ng-model="set5" ng-options="set for set in sets"></select>
  <select ng-disabled="type != 'sealed'" ng-model="set6" ng-options="set for set in sets"></select>
</div>
<div>
  <select ng-disabled="type != 'cube'" ng-model="cube">
    <option>mtgo holiday</option>
    <option>mtgo unpowered</option>
    <option>pata</option>
  </select>
</div>

<div>
  <p>
    queues are private; you must share your link for people to join
  </p>
  <p>
    <a href="http://www.woogerworks.com/">woogerworks</a> provides a cockatrice server at <code>host: play.woogerworks.com, port: 4747</code>
  </p>
  <p>
    this site is unafilliated with wizards of the coast
  </p>
</div>
