<a href="https://github.com/aeosynth/draft"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
<h1>drafts.in</h1>
<button ng-click="create()">create</button>
<select ng-model="seats" save>
  <option>8</option>
  <option>7</option>
  <option>6</option>
  <option>5</option>
  <option>4</option>
  <option>3</option>
  <option>2</option>
  <option>1</option>
</select> seat
<select ng-model="type" save>
  <option>draft</option>
  <option>sealed</option>
  <option>cube</option>
</select>
<div>
  <select ng-disabled="type == 'cube'" ng-model="set1" ng-options="set for set in sets" save></select>
  <select ng-disabled="type == 'cube'" ng-model="set2" ng-options="set for set in sets" save></select>
  <select ng-disabled="type == 'cube'" ng-model="set3" ng-options="set for set in sets" save></select>
</div>
<div>
  <select ng-disabled="type != 'sealed'" ng-model="set4" ng-options="set for set in sets" save></select>
  <select ng-disabled="type != 'sealed'" ng-model="set5" ng-options="set for set in sets" save></select>
  <select ng-disabled="type != 'sealed'" ng-model="set6" ng-options="set for set in sets" save></select>
</div>
<div>
  <textarea ng-disabled="type != 'cube'" ng-model="cube" placeholder="cube" save></textarea>
</div>

<div>
  <p>
    <strong>cube</strong>: paste decklist into the text box above
  </p>
  <p>
    <strong>contact</strong>:
    <a target="_blank" href="https://github.com/aeosynth/draft/issues">github</a>
    <a target="_blank" href="https://twitter.com/aeosynth">twitter</a>
    <a target="_blank" href="mailto:james.r.campos@gmail.com?subject=[draft]">email</a>
  </p>
  <p>
    for more information, see the <a target="_blank" href="https://github.com/aeosynth/draft/wiki/_pages">wiki</a>
  </p>
  <p>
    <small>this site is unafilliated with wizards of the coast</small>
  </p>
</div>
