<div class="error" ng-show="error">
  {{ error }}
</div>

<div ng-hide="error">
  <div class="pull-right">
    <div>
      <label>beep when receiving packs<input type="checkbox" ng-model="beep"></label>
      <!--
      http://freesound.org/people/pierrecartoons1979/sounds/90112/
      cc-by-nc-3.0
      -->
      <audio src="/media/beep.wav"></audio>
    </div>
    <div>
      <form method="post" action="/deck">
        <input type="text" name="deck" hidden ng-model="deckJSON">
        <button ng-click="generateDeck()">download</button>
        <select name="type">
          <option value="cod">cod</option>
          <option value="dec">dec</option>
        </select>
      </form>
    </div>
    <div>register deck<button ng-click="hash()">generate hash</button></div>
    <div>
      order by
      <select ng-model="order">
        <option>cmc</option>
        <option>name</option>
      </select>
    </div>
  </div>

  <table>
    <tr><th>#</th><th>name</th><th>time</th><th>packs</th><th>hash</th></tr>
    <tr ng-repeat="player in players" ng-class="{ self: player.self, opponent: player.opponent, dropped: player.dropped }">
      <td>{{ $index + 1 }}</td>
      <td ng-switch on="player.edit">
        <form ng-submit="name(player.name)" ng-switch-when="true">
          <input type="text" placeholder="username" autofocus ng-model="player.name">
          <button>save</button>
        </form>
        <span ng-switch-default>{{ player.name }}</span>
      </td>
      <td>{{ player.time }}</td>
      <td>{{ player.packs }}</td>
      <td>{{ player.hash }}</td>
    </tr>
  </table>

  <div class="container" ng-hide="end">
    <h1>pack</h1>
    <div ng-show="pack.show">
      <card ng-repeat="card in pack.cards" ng-click="pick(card)">
    </div>
  </div>
  <div class="container">
    <h1>land</h1>
    <card ng-repeat="card in land" ng-click="toMain(card)">
  </div>
  <div class="container">
    <h1>main {{ main.length }}</h1>
    <card ng-repeat="card in main | orderBy:order" ng-click="toSide(card)">
  </div>
  <div class="container">
    <h1>side</h1>
    <card ng-repeat="card in side | orderBy:order" ng-click="toMain(card)">
  </div>
</div>
